#### 1. write a python script to generate and print a dict that contains a number (between 1 and n) in the form (x,x*x)

In [4]:
n=int(input("Enter the limit : "))
dict1={}
for i in range(1,n+1):
    j=i*i
    dict1[i]=j
print(dict1)

Enter the limit : 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### 2. Write a python script to merge two python dictionaries

In [14]:
a={1:"Devika",2:"Sreekkutty"}
b={3:"Vijay",4:"Sree"}
a.update(b)
print(a)

{1: 'Devika', 2: 'Sreekkutty', 3: 'Vijay', 4: 'Sree'}

#### 3. Write a python program to sum all the items in a dictionary

In [20]:
c={"a": 1, 2: 4, 3: 9, "b": 16, 5: 25}
d=sum(c.values())
print(d)

55

#### 4. prgrm to multtply all the items in a dict

In [22]:
c={"a": 1, 2: 4, 3: 9, "b": 16, 5: 25}
mult=1
for i in c.values():
    mult=mult*i
print(mult)

14400

#### 5. python prgrm to remove a key from a dict

In [25]:
dict2={"name":'Devika',"Age":23,"mob":2255}
del dict2['mob']
print(dict2)

{'name': 'Devika', 'Age': 23}

#### 6. prgrm to print a dict line by line

In [26]:
dict2={"name":'Devika',"Age":23,"email":'devikavijay99@gmail.com',"mob":2255}
for i,j in dict2.items():
    print(i,j)

name Devika
Age 23
email devikavijay99@gmail.com
mob 2255

#### 7. prgrm to access fifth value of a key from a dictionary which contains keys x,y,z as
{'x':[11,12,13,14,15,16,17,18,19],'y':[21,22,23,24,25,26,27,28,29],'z':[31,32,33,34,35,36,37,38,39]}

In [2]:
dict1={'x':[11,12,13,14,15,16,17,18,19],'y':[21,22,23,24,25,26,27,28,29],'z':[31,32,33,34,35,36,37,38,39]}
for i in dict1: 
    print(dict1[i][4])

15
25
35